{% trans_default_domain 'FOSUserBundle' %}
	
	</br>
	<br>
	</br>
	<div class="col-md-4"></div>
	<div class="col-md-4 log-theme" style="padding-top:2.2%;padding-bottom:3.5%;margin-bottom:3%;">
        <h2 style="text-align:center;">Récupération du mot de passe</h2>
		
		</br>
		
		<div class="col-md-offset-1 col-md-10">
			<form action="{{ path('fos_user_resetting_send_email') }}" method="POST" class="fos_user_resetting_request">

				<div class="form-group">
					<div>
						{% if invalid_username is defined %}
							<p>{{ 'resetting.request.invalid_username'|trans({'%username%': invalid_username}) }}</p>
						{% endif %}
						<label for="username">{{ 'resetting.request.username'|trans }}</label>
						<input type="text" id="username" class="form-control" name="username" placeholder="Nom d'utilisateur ou mail" required="required" />
					</div>
					</br>
					<div class="clearfix"></div>
					
					<div class="clearfix"></div>
					
						<input type="submit" class="btn btn-success col-md-8 btn-block" value="{{ 'resetting.request.submit'|trans }}" />
					
				</div>
					
					
					
			</form>
		</div>
	</div>
	<br>