{% trans_default_domain 'FOSUserBundle' %}
<br>
<br>
<br>
<div class="col-md-4"></div>
<div class="col-md-4 log-theme" style="padding-top:2.2%;padding-bottom:3.5%;margin-bottom:2.5%;">
<h2>Nouveau mot de passe</h2>
	<div class="col-md-offset-1 col-md-10">
		<div  class="form-group">
		<form action="{{ path('fos_user_resetting_reset', {'token': token}) }}" {{ form_enctype(form) }} method="POST" class="fos_user_resetting_reset">
			
				{{ form_widget(form) }}
				</br>
				<div>
					<input type="submit" class="btn btn-success col-md-8 btn-block" value="{{ 'resetting.reset.submit'|trans }}" />
				</div>
		</form>
		</div>
	</div>
</div>