{% extends "::base.html.twig" %}
	
	
	{% block header %}
			
	{% endblock %}
	
	
	{% block body %}

		
		<div class="well">
		
			{% if form is defined %}	
				
				{{ form(form) }}
				
			{% elseif answer is defined %}
			
				<h5>Réponse</h5>
				
				<p>{{ answer.content }}</p>
				
			{% endif %}
			
		</div>
		
		
		
		<div class="well">
			
			<h5>Mail : {{ contact.mail }}</h5>
		
			<p>Message : {{ contact.content }}</p>
		
		</div>
	
	{% endblock %}