{# src/BaseBundle/Resources/views/Home/index.html.twig #}
{% extends "::base.html.twig" %}

	{% block header %}
			<header class="intro">
		<div class="container">
			<span class="brand-name">
				Bienvenue sur FavYour
			</span>
			<h1>Vos projets, votre aide</h1>
			<a href="#" class="btn btn-cta"><i class="fa fa-chevron-circle-right"></i> Commencer</a>
		</div>
	</header>
	{% endblock %}

		
	{% block body %}
	<section class="projet-semaine">
		<div class="container">
			<div class="row">
				<div class="col-md-10 col-md-offset-1">
					<h1 class="titre-projetsemaine">Projets de la semaine</h1>


			        {% for project in projects %}
					<div class="col-md-6">
						<div>
							<div class="col-md-4">
								<img src="{{ asset('uploads/membres/' ~ project.image) }}" alt="" class="img-circle img-projet">


								<div class="progress bar-prog-index">
							          <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width:60%;">
							            {{ project.amountWon / project.amountRequested * 100 }}%
							          </div>
							    </div>


							</div>
							<div class="col-md-8">
								<h4>{{project.title}}</h4>

								<span>
									{{ project.description | slice(0,250)}}
								</span>
							</div>
						</div>
					</div>
					{% endfor %}

				</div>
			</div>
		</div>
	</section>
	{% endblock %}
