{# src/ProjectBundle/Resources/views/Project/show.html.twig #}
{% extends "::base.html.twig" %}

	
	
	{% block header %}
			<header class="intro-bepushed">
				<div class="container">
					<span class="brand-name">
						Bienvenue sur FavYour
					</span>
					<h1>Vos projets, votre aide</h1>
					<a href="{{path('new-project')}}" class="btn btn-cta"><i class="fa fa-chevron-circle-right"></i> Lancez votre projet !</a>
				</div>
			</header>
	{% endblock %}
		
	{% block body %}
		
	{% endblock %}