{# src/ProjectBundle/Resources/views/Project/show.html.twig #}
{% extends "::base.html.twig" %}

  {% block header %}
  {% endblock %}

	{% block body %}


    <header class="intro-push">
       <div class="container">
              <span class="brand-name">
                Découvrez les projets les plus fous
              </span>
              <h1>Choisissez des catégories</h1>


              <div class="btn-group search-push" data-toggle="buttons">
                <label class="btn btn-search">
                  <input type="checkbox" autocomplete="off" id="checkblanche">  Littérature
                </label>
                <label class="btn btn-search">
                  <input type="checkbox" autocomplete="off"> Art
                </label>
                <label class="btn btn-search">
                  <input type="checkbox" autocomplete="off"> Spectacle
                </label>
                <label class="btn btn-search">
                  <input type="checkbox" autocomplete="off"> Photographie
                </label>
                <label class="btn btn-search">
                  <input type="checkbox" autocomplete="off"> Mode
                </label>
                <label class="btn btn-search">
                  <input type="checkbox" autocomplete="off"> Journalisme
                </label>
                <label class="btn btn-search">
                  <input type="checkbox" autocomplete="off"> Education
                </label>
                <label class="btn btn-search">
                  <input type="checkbox" autocomplete="off"> Ecologie
                </label>
                <label class="btn btn-search">
                  <input type="checkbox" autocomplete="off"> Solidarité
                </label>
                <label class="btn btn-search">
                  <input type="checkbox" autocomplete="off"> Aventure - Sport
                </label>
                <label class="btn btn-search">
                  <input type="checkbox" autocomplete="off"> Design
                </label>
                <label class="btn btn-search">
                  <input type="checkbox" autocomplete="off"> Invention
                </label>
                <label class="btn btn-search">
                  <input type="checkbox" autocomplete="off"> Film 
                </label>
                <label class="btn btn-search">
                  <input type="checkbox" autocomplete="off"> Cuisine
                </label>
                <label class="btn btn-search">
                  <input type="checkbox" autocomplete="off"> Jeux
                </label>
                <label class="btn btn-search">
                  <input type="checkbox" autocomplete="off"> Projet personnel
                </label>
                <label class="btn btn-search">
                  <input type="checkbox" autocomplete="off"> Application
                </label>
                <label class="btn btn-search">
                  <input type="checkbox" autocomplete="off"> Gadgets
                </label>
        </div>
        <a href="{{path('bepushed')}}" class="btn btn-warning btn-pad-push-t"><i class="fa fa-chevron-circle-down"></i> Lancer la recherche !</a>

      </div>
    </header>
      


      <div class="col-md-offset-1 col-md-10">
        <h2 class="marg-h3-push">Résultats de la recherche</h2>
            
         <div class="col-md-4"><p class="text-success">Trier par besoin de financement croissant <i class="glyphicon glyphicon-sort-by-attributes"></i></p></div>
         <div class="col-md-4"><p class="text-danger">Trier par besoin de financement décroissant <i class="glyphicon glyphicon-sort-by-attributes-alt"></i></p></div>
         <div class="col-md-4"><p class="text-primary">Trier par du plus anciens au plus récent <i class="glyphicon glyphicon-calendar"></i></p></div>


          <section class="margin-section-push">
              <div class="col-md-offset-1 col-md-5">
                <div class="col-lg-12 text-center">
                    <img class="img-circle" src="{{ asset('uploads/membres/test1.jpg' ) }}" alt="" width="140" height="140">
                    <h2>TEST</h2>
                    <p>TEST</p>

                    <div class="progress bar-prog-index">

                                <div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width:70%;">
                                  70%
                                </div>
                     </div>

                    <p><a class="btn btn-default" href="" role="button">En savoir plus »</a></p>
                </div><!-- /.col-lg-4 -->
                </div>


                <div class="col-md-5">
                <div class="col-lg-12 text-center">
                    <img class="img-circle" src="{{ asset('uploads/membres/test1.jpg' ) }}" alt="" width="140" height="140">
                    <h2>TEST</h2>
                    <p>TEST</p>

                    <div class="progress bar-prog-index">

                                <div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width:70%;">
                                  70%
                                </div>
                     </div>

                    <p><a class="btn btn-default" href="" role="button">En savoir plus »</a></p>
                </div><!-- /.col-lg-4 -->
                </div>
          </section>
      </div>



            {# A mettre une fois que la recherche est lancée#}
           {#  <h2>Paramètres de vos recherches</h2>
              <div class="col-md-6">
                  <div class="checkbox">
                    <label>
                      <input type="checkbox">Afficher les projets du plus récent au plus ancien
                    </label>
                    <label>
                      <input type="checkbox">Afficher les projets par besoin de financement croissant
                    </label>
                    <label>
                      <input type="checkbox">Afficher les projets par besoin de financement décroissant
                    </label>
                  </div>
                <div>
                  <button type="button" class="btn btn-warning">Rechercher !</button>
                </div>
              </div>#}
            

      </div>


	{% endblock %}