{# src/ProjectBundle/Resources/views/Project/show.html.twig #}
{% extends "::base.html.twig" %}

  {% block header %}
  {% endblock %}

	{% block body %}


    <header class="intro-push">
       <div class="container">
              <span class="brand-name">
                Découvrez les projets les plus fous
              </span>
              <h1>Choisissez des catégories</h1>

              <form action="{{path('search')}}" method="post" class="btn-group search-push">
                <label class="btn btn-search">
                  <input type="checkbox" autocomplete="off" name="Littérature">  Littérature
                </label>
                <label class="btn btn-search">
                  <input type="checkbox" autocomplete="off" name="Art"> Art
                </label>
                <label class="btn btn-search">
                  <input type="checkbox" autocomplete="off" name="Spectacle"> Spectacle
                </label>
                <label class="btn btn-search">
                  <input type="checkbox" autocomplete="off" name="Photographie"> Photographie
                </label>
                <label class="btn btn-search">
                  <input type="checkbox" autocomplete="off" name="Mode"> Mode
                </label>
                <label class="btn btn-search">
                  <input type="checkbox" autocomplete="off" name="Journalisme"> Journalisme
                </label>
                <label class="btn btn-search">
                  <input type="checkbox" autocomplete="off" name="Education"> Education
                </label>
                <label class="btn btn-search">
                  <input type="checkbox" autocomplete="off" name="Ecologie"> Ecologie
                </label>
                <label class="btn btn-search">
                  <input type="checkbox" autocomplete="off" name="Solidarité"> Solidarité
                </label>
                <label class="btn btn-search">
                  <input type="checkbox" autocomplete="off" name="Aventure - Sport"> Aventure - Sport
                </label>
                <label class="btn btn-search">
                  <input type="checkbox" autocomplete="off" name="Design"> Design
                </label>
                <label class="btn btn-search">
                  <input type="checkbox" autocomplete="off" name="Invention"> Invention
                </label>
                <label class="btn btn-search">
                  <input type="checkbox" autocomplete="off" name="Film"> Film 
                </label>
                <label class="btn btn-search">
                  <input type="checkbox" autocomplete="off" name="Cuisine"> Cuisine
                </label>
                <label class="btn btn-search">
                  <input type="checkbox" autocomplete="off" name="Jeux"> Jeux
                </label>
                <label class="btn btn-search">
                  <input type="checkbox" autocomplete="off" name="Projet personnel"> Projet personnel
                </label>
                <label class="btn btn-search">
                  <input type="checkbox" autocomplete="off" name="Application"> Application
                </label>
                <label class="btn btn-search">
                  <input type="checkbox" autocomplete="off" name="Gadgets"> Gadgets
                </label>
        
                <button type="submit" class="btn btn-warning btn-pad-push-t"><i class="fa fa-chevron-circle-down"></i> Lancer la recherche !</button>
              </form>

      </div>
    </header>
      





            {# A mettre une fois que la recherche est lancée#}
           {#  <h2>Paramètres de vos recherches</h2>
              <div class="col-md-6">
                  <div class="checkbox">
                    <label>
                      <input type="checkbox">Afficher les projets du plus récent au plus ancien
                    </label>
                    <label>
                      <input type="checkbox">Afficher les projets par besoin de financement croissant
                    </label>
                    <label>
                      <input type="checkbox">Afficher les projets par besoin de financement décroissant
                    </label>
                  </div>
                <div>
                  <button type="button" class="btn btn-warning">Rechercher !</button>
                </div>
              </div>#}
            

      </div>


	{% endblock %}